<LinkTo class="clock-link" @route="clock" @model={{@index}}>
  <h2 class="clock-link__name">{{@config.name}}</h2>
  <ul class="clock-link__duration">
    <li>pace: {{this.pace}}</li>
    <li>Duration: {{this.totalDuration}}</li>
  </ul>
</LinkTo>