@import "components/clock";
@import "components/clock-link";

:root {
  --color1: #DD6C4E;
  --color2: #DDA84E;
  --color3: #4a74a1;
  --color4: #35976F;
  --background: #333;
}

/*
 * color
 * https://paletton.com/#uid=70g0A0kg5E71w+S9YT7kKrMnTfQ
 * font
 * https://fonts.google.com/selection?category=Display,Handwriting&selection.family=Baloo+Bhaijaan|Expletus+Sans|Fugaz+One|Londrina+Solid|Medula+One|Oleo+Script|Racing+Sans+One|Shrikhand
 */
body {
  font-family: 'Share', cursive;
  background: #222;
  color: #fff;
  overflow: auto;
  margin: 0;
}

h1 {
  margin: 7px 0 0;
  color: #fff;
  background: #35976F;
  padding: .5em 2em .5em .5em;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
h1 a, h1 a:visited {
  color: inherit;
  text-decoration: none;
}
.clock-route {
  height: 100vh;
  display: flex;
  align-items: center;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
