.app>.ember-view {
  display: none;
}
.ember-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.6);
}
@media (orientation: portrait) {
  .ember-modal-dialog {
    --dimension: 80vw;
  }
}
@media (orientation: landscape) {
  .ember-modal-dialog {
    --dimension: calc(var(--body-height) * 0.8);
  }
}
.ember-modal-dialog {
  font-size: calc(var(--dimension)/8);
  width: 50vw;
  background: var(--dialog-bg);
  border: 1px solid #fff;
  padding: 1em;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1em;
}
@media (orientation: portrait) {
  .ember-modal-dialog {
    width: 90vw;
    left: 5vw;
  }
}
.ember-modal-dialog__header {
  margin: 0;
}
.ember-modal-dialog__footer {
  display: flex;
  justify-content: space-between;
}
.ember-modal-dialog__footer>button {
  margin-right: .5em;
  font-size: calc(var(--dimension) / 16);
}
.ember-modal-dialog__url-container {
  position: relative;
}
.ember-modal-dialog__url-input {
  padding: 1em;
  border: 0;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.ember-modal-dialog__copied-hint {
  background: var(--color3);
  position: absolute;
  padding: .5em;
  top: 0;
  left: 0;
}
.ember-modal-dialog input[type="url"] {
}
