.clock-link {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  align-items: center;
  background: var(--color1);
  border-radius: 50%;
  color: var(--background);
  display: flex;
  flex-flow: column;
  height: 23vh;
  width: 23vh;
  justify-content: center;
  margin: 2vh auto;
  transition: background 300ms ease-out, color 300ms ease-out;
  text-decoration: none;
  padding: 3vh;
  box-sizing: border-box;
}
.clock-link__name {
  text-align: center;
  font-size: 5vh;
  margin: 0;
}
.clock-link__duration {
  font-size: 13px;
}
