.clock-link {
  position: relative;
}
.clock-link__anchor {
  transition: background 100ms ease-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  align-items: center;
  border: 2px solid var(--color1);
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  height: 23vh;
  width: 23vh;
  justify-content: center;
  margin: 2vh;
  transition: background 300ms ease-out, color 300ms ease-out;
  padding: 3vh;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 150px;
  color: var(--color1);
  text-decoration: none;
}
.clock-link__anchoor:hover, .clock-link__anchor:active {
  color: var(--color2);
}
@media (orientation: portrait) {
  .clock-link:first-child {
    margin-top: 4vh;
  }
  .clock-link:last-child {
    margin-bottom: 4vh;
  }
}

@media (orientation: landscape) {
  .clock-link:first-child {
    margin-left: 4vh;
  }
  .clock-link:last-child {
    margin-right: 4vh;
  }
}

.clock-link__util[data-purpose="delete"] {
  bottom: -4vh;
  right: 20vh;
}
.clock-link__util[data-purpose="edit"] {
  bottom: 3vh;
  right: 3vh;
}
.clock-link__util {
  cursor: pointer;
  background: #222;
  border-radius: 50%;
  border: 2px solid var(--color1);
  box-sizing: content-box;
  color: var(--color2);
  display: block;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  padding: 9px;
  position: absolute;
}
.clock-link__new-icon {
  text-align: center;
  font-size: 1.3em;
  margin: .5em 0 0;
}
.clock-link__new-icon-bracket {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.clock-link__anchor--new:hover .clock-link__new-icon-bracket {
  opacity: 1;
}
.clock-link__new-icon > * {
  vertical-align: middle;
}
.clock-link__new-icon [data-glyph="plus"] {
  color: #fff;
  margin: 0 .2em;
}
.clock-link__name {
  text-align: center;
  font-size: 1.3em;
  margin: 0 0 5px;
  color: #fff;
}
.clock-link__spec {
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.clock-link__spec-summary-row > td {
  border-top: 1px solid var(--color1);
}
.clock-link__spec td:first-child {
  text-align: right;
}
.clock-link__spec td:last-child {
  text-align: left;
}
