:root {
  --slider-height: 15px;
}

.clock-edit {
  width: 70vw;
  min-width: 300px;
  margin: 0 auto;
  background: rgba(60,60,60,.8);
  padding: 20px;
  box-sizing: border-box;
  color: #333;
}
.clock-edit__title {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  background: #444;
  color: #fff;
}
.clock-edit__form-group {
  margin-bottom: 20px;
}
.clock-edit__form-control {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  margin: 0;
}
.clock-edit__form-label {
  margin-bottom: .5em;
  display: block;
  color: var(--color1);
}
.clock-edit__form-control[type="range"] {
  appearance: none;
  border-radius: 8px;
  height: var(--slider-height);
  background: var(--color4);
  outline: none;
}
.clock-edit__form-control[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--slider-height) + 10px);
  height: calc(var(--slider-height) + 10px);
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.clock-edit__form-control[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  background: var(--color1);
  cursor: pointer;
  border-radius: 50%;
}
.clock-edit__form-control[type="text"] {
  font-size: 26px;
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255,255,255,.5);
}
