.timer-link {
  position: relative;
  --border-width: calc(var(--dimension) * 0.04);
  font-size: calc(var(--dimension)/18);
}
@media (orientation: portrait) {
  .timer-link {
    --dimension: 80vw;
    margin-top: 10vw;
    margin-left: 10vw;
  }
  .timer-link:last-child {
    margin-bottom: 10vw;
  }
}
@media (orientation: landscape) {
  .timer-link {
    --dimension: calc(var(--body-height) * 0.8);
    margin-top: calc(var(--body-height) * 0.1);
    margin-left: calc(var(--body-height) * 0.1);
    display: inline-block;
    vertical-align: middle;
  }
  .timer-link:last-child {
    margin-right: calc(var(--body-height) * 0.1);
  }
}
.timer-link__anchor {
  transition: background 100ms ease-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  align-items: center;
  border: var(--border-width) solid;
  border-image: conic-gradient(var(--color1), var(--color2), var(--color3), var(--color4), var(--color1)) 1;
  display: flex;
  flex-flow: column;
  height: var(--dimension);
  width: var(--dimension);
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
}
.timer-link__anchor--new {
  color: var(--color2);
  font-size: calc(var(--dimension)/8);
  border-color: var(--color2);
}

.timer-link__bd {
  display: flex;
}
.timer-link__new-icon {
  text-align: center;
  margin: .5em 0 0;
}
.timer-link__new-icon-bracket {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.timer-link__anchor--new:hover .timer-link__new-icon-bracket {
  opacity: 1;
}
.timer-link__new-icon > * {
  vertical-align: middle;
}
.timer-link__new-icon [data-glyph="plus"] {
  color: #fff;
  margin: 0 .2em;
}
.timer-link__name {
  text-align: center;
  font-size: calc(var(--dimension)/8);
  margin: 0 0 5px;
  color: #fff;
}
.timer-link__spec {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  border: calc(var(--border-width)/4) solid var(--color4);
  border-collapse: collapse;
}
.timer-link__spec td {
  border: 1px solid var(--color4);
  padding: .3em .5em;
}
.timer-link__spec td:first-child {
  text-align: right;
  color: var(--color4);
}
.timer-link__spec td:last-child {
  text-align: left;
  color: #fff;
}

.timer__utils {
  margin-top: 1em;
  --util-color: #fff;
}
.timer__util {
  border: solid var(--util-color);
  border-width: 0 0 1px 0;
  background: transparent;
  color: var(--util-color);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: var(--font-size);
  padding: .5em;
  text-decoration: none;
  margin-left: .5em;
}
.timer__util:first-child {
  margin-left: 0;
}
