.focusable {
  transition: all 300ms ease-out;
  outline: none;
}
.focusable:hover,
.focusable:focus {
  box-shadow: rgba(255,255,255,.3) 0 0 20px 0;
}
.focusable--text:hover,
.focusable--text:focus {
  box-shadow: none;
  text-shadow: 0 0 10px rgba(255,255,255,.8);
}

