<section class="about-section">
  {{!--  <img class="about__main-img" src="/assets/sample.jpg">  --}}
  <h2>What is this</h2>
  <p>Simple Interval is a free online workout timer, 100% custimizeable. Create your own For either TABATA or HIIT or anything else</p>

  <h2>HIIT workout?</h2>
  <p>HIIT stands for High-Intensity Interval Training. The intensity in these workouts means there is little (if any) downtime built in. This workout is also comprised of interval training, which means exercises are done in bursts. They can start slow and become faster from one exercise to another. Typically, cardio and strength training are combined to create a well-rounded high-intensity interval training workout.</p>



timer
workout timer
hiit
High-intensity interval training
tabata
hiit box
body weight training
crossfit training
bosu
kettlebell
push up
</section>