<header class="app-header">
  <LinkTo class="app-header__anchor focusable" @route="index" class="text-decoration-none">
    <img class="app-header__logo" src="/assets/icons/logo-svg.svg" width="80" height="80"/>
    <span class="app-header__text">ATHLETIC CLOCK</span>
  </LinkTo>
</header>
{{outlet}}
